<!-- Google Maps Commute Boundary -->
<script>
function initMap() {
	/* Create a map object and specify the DOM element for display. */
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom: 9,
		center: {lat: 37.109005, lng: -121.875296},
		mapTypeId: 'roadmap',
		disableDefaultUI: false
	});

	/* Create the search box and link it to the UI element. */
	var input = document.getElementById('map-search');
	var searchBox = new google.maps.places.SearchBox(input);
	map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

	/* Bias the SearchBox results towards current map's viewport. */
	map.addListener('bounds_changed', function() {
		searchBox.setBounds(map.getBounds());
	});

	var markers = [];
	/* Listen for the event fired when the user selects a prediction and retrieve more details for that place. */
	searchBox.addListener('places_changed', function() {
		var places = searchBox.getPlaces();

		if (places.length == 0) {
			return;
		}

		/* Clear out the old markers. */
		markers.forEach(function(marker) {
			marker.setMap(null);
		});
		markers = [];

		/* For each place, get the icon, name and location. */
		var bounds = new google.maps.LatLngBounds();
		places.forEach(function(place) {
			if (!place.geometry) {
				console.log("Returned place contains no geometry");
				return;
			}
			var icon = {
				url: place.icon,
				size: new google.maps.Size(71, 71),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(17, 34),
				scaledSize: new google.maps.Size(25, 25)
			};

			/* Create a marker for each place. */
			markers.push(new google.maps.Marker({
				map: map,
				icon: icon,
				title: place.name,
				position: place.geometry.location
			}));

			if (true){
				bounds.fit(place.geometry.location);
			}
			else{
			if (place.geometry.viewport) {
				/* Only geocodes have viewport. */
				bounds.union(place.geometry.viewport);
			} else {
				bounds.extend(place.geometry.location);
			}
			}
		});
		map.fitBounds(bounds); 
	});

	/* Define the LatLng coordinates for the polygon's path. */
	var commuteCoords = [
		{lat: 36.946594, lng: -121.922567},
		{lat: 36.926750, lng: -122.134456},
		{lat: 37.202435, lng: -122.448537},
		{lat: 37.350107, lng: -122.443894},
		{lat: 37.488623, lng: -122.474106},
		{lat: 37.630900, lng: -122.362471},
		{lat: 37.697103, lng: -122.097696},
		{lat: 37.678492, lng: -122.070745},
		{lat: 37.129561, lng: -121.591987},
		{lat: 36.969515, lng: -121.384345},
		{lat: 36.878123, lng: -121.374886},
		{lat: 36.789954, lng: -121.322120},
		{lat: 36.816344, lng: -121.594032},
		{lat: 36.571928, lng: -121.518349},
		{lat: 36.568028, lng: -121.730675},
		{lat: 36.495437, lng: -121.973094},
		{lat: 36.575987, lng: -122.008112},
		{lat: 36.655902, lng: -121.953181},
		{lat: 36.626701, lng: -121.873530},
		{lat: 36.806960, lng: -121.821517},
		{lat: 36.947606, lng: -121.929149},
		/*
		{lat: xx, lng: yy},
		*/
	];

	/* Construct the polygon. */
	var commuteArea = new google.maps.Polygon({
		paths: commuteCoords,
		strokeColor: '#FF0000',
		strokeOpacity: 0.8,
		strokeWeight: 2,
		fillColor: '#FF0000',
		fillOpacity: 0.05
	});
	commuteArea.setMap(map);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvHLT8vxJcCZ85jLdGOKXkyspPEL-Mnqo&libraries=places&callback=initMap" async defer></script>
